.logo-1 img {
    width: 200px;
    height: auto;
    position: absolute;
    top: 480px;
    left: 110px;
    z-index: -1;
}

.logo-2 img {
    width: 420px; 
    height: auto; 
    position: absolute;
    top: -40px;
    right: 1115px;
    z-index: -1; 
}

.logo-3 img {
    width: 420px; 
    height: auto; 
    position: absolute;
    top: 330px;
    left: 1000px;
    z-index: -1; 
}