.logo img {
    width: 420px; 
    height: auto; 
    position: absolute;
    top: -40px;
    right: 735px;
    z-index: -1; 
}

.logo-2 img {
    width: 420px; 
    height: auto; 
    position: absolute;
    top: 275px;
    left: 300px;
    z-index: -1; 
}